* {
    font-family: fantasy;
    margin: 0;
    

}

.wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh- 40vh;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 12px 13px 15px;
    
}

footer ul,
nav ul {
    list-style: none;
    padding: 4px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
    
}

nav ul {
    margin-top: 5px;
}

nav a,
footer a 
i {
    text-decoration: none;
    display: flex;
    padding: 15px;
    color: black;
    opacity: 0.75;
    margin-left: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    background: white;
    border-top: 1px solid green;
    line-height: 30px;
    margin-top: 360px;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 50px;
}


a:hover {
    text-decoration: underline;
    color: red;
}

.logo.container {
    display: flex;
    margin-top: 85px;
}

.logo {
    margin-left: 40%;
}

.search.container {
    display: flex;
    justify-content: center;
}

.search{
    border: 1px solid yellow;
    box-shadow:  2px 2px 3px 1px;
    max-width: 550px;
    height: 40px;
    border-radius: 30px;
    padding-top: 10px ;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

input{
    line-height: 34px;
    width: 435px;
    padding: 6px 6px 0px 16px;
    font-size: 19px;
    border: none;
    height: 34px;
    outline: none;
}

.search img {
    position: relative;
    top: 10px;
    right: -500px;
    cursor: pointer;
}



.usb1 {
    margin-left: 40%;
    margin-top: 20px;
    
}

.usb2 {
    margin-left: 20px;
}

footer a {
    color: black
}

.biz{
    margin-left: 15px;

}

.terms {
    margin-left: 15px;
}

.set {
    margin-left: 15px;
    
}


